# list of valid properties
# align
# color
# background
# border
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# !!! DEPENDS ON:  https://github.com/Anachron/i3blocks

# Global properties
command=~/.config/regolith/blocks/$BLOCK_NAME
separator_block_width=60
separator=true
color=xresource:i3xrocks.value.color
label_color=xresource:i3xrocks.label.color

# [ssid]
# label= 
# interval=60


# [webcam]
# label=
# instance=/dev/video0
# interval=10

# [vpn]
# label=
# interval=5

[network]
label=@ 
instance=wlp3s0
interval=10
separator=true

# [brightness]
# label=
# interval=10

[space]
instance=/home/pwk;used
label= 
interval=60

[memory]
label= 
instance=mem;used
interval=3


[memory]
label= 
instance=swap;used
interval=3

[temperature]
instance=Tdie
label= 
interval=22


[cpu]
label=  
interval=2

# [battery]
# label=
# instance=0
# interval=5


[datetime]
label= 
interval=30
